// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$SQUARE_HEIGHT: 100px;

body { margin: 0; background: #333; }

#board {
  margin: 25px auto;
  display: block;
  border: 1px solid #000;
  width: $SQUARE_HEIGHT * 8;
  box-shadow: 0px 0px 45px #111;
}

.row {
  border: 0;
  background-color: #fff;
  height: $SQUARE_HEIGHT;
}

.square {
  height: $SQUARE_HEIGHT;
  width: $SQUARE_HEIGHT;
  display: inline-block;
  position: relative;
}

.debug {
  position: absolute;
  font-size: 10px;
  top: 0;
  left: 0;
}

.piece {
  height: 90%;
  width: 90%;
  top: 5%;
  left: 5%;
  position: absolute;
  background-color: transparent !important;
  background-position: center center;
  background-size: cover;
}

.cover {
  position: absolute;
  width: $SQUARE_HEIGHT;
  height: $SQUARE_HEIGHT;
  top: 0;
  left: 0;
  z-index: 10;
}

.row:nth-child(2n+1) {
  .square:nth-child(2n) {
    background-color: green;
    .cover {
      background-color: green;
    }
  };
  .square:nth-child(2n+1) {
    background-color: #fff;
    .cover {
      background-color: #fff;
    }
  };
};

.row:nth-child(2n) {
  .square:nth-child(2n+1) {
    background-color: green;
    .cover {
      background-color: green;
    }
  };
  .square:nth-child(2n) {
    background-color: #fff;
    .cover {
      background-color: #fff;
    }
  };
};

.bp {
  background-image: url('/pieces/bp.svg');
}

.br {
  background-image: url('/pieces/br.svg');
}

.bn {
  background-image: url('/pieces/bn.svg');
}

.bb {
  background-image: url('/pieces/bb.svg');
}

.bq {
  background-image: url('/pieces/bq.svg');
}

.bk {
  background-image: url('/pieces/bk.svg');
}

.wp {
  background-image: url('/pieces/wp.svg');
}

.wr {
  background-image: url('/pieces/wr.svg');
}

.wn {
  background-image: url('/pieces/wn.svg');
}

.wb {
  background-image: url('/pieces/wb.svg');
}

.wq {
  background-image: url('/pieces/wq.svg');
}

.wk {
  background-image: url('/pieces/wk.svg');
}