// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$SQUARE_HEIGHT: 76px;

body { margin: 0; background: #333; }

#board {
  margin: 25px auto;
  display: block;
  border: 1px solid #000;
  width: $SQUARE_HEIGHT * 8;
  box-shadow: 0px 0px 45px #111;
}

.row {
  border: 0;
  background-color: #fff;
  height: $SQUARE_HEIGHT;
}

.square {
  height: $SQUARE_HEIGHT;
  width: $SQUARE_HEIGHT;
  display: inline-block;
  position: relative;
}

.debug {
  position: absolute;
  font-size: 10px;
  top: 0;
  left: 0;
}

.piece {
  height: 50px;
  width: 50px;
  text-align: center;
  display: inline-block;
  width: 100%;
  line-height: $SQUARE_HEIGHT;
  margin: 0 auto;
}

.row:nth-child(2n+1) {
  .square:nth-child(2n) {
    background: green;
  };
};

.row:nth-child(2n) {
  .square:nth-child(2n+1) {
    background: green;
  };
};

.bp {
  background: asset-url('bp.svg') top left no-repeat;
}

.br {
  background: asset-url('br.svg') top left no-repeat;
}

.bn {
  background: asset-url('bn.svg') top left no-repeat;
}

.bb {
  background: asset-url('bb.svg') top left no-repeat;
}

.bq {
  background: asset-url('bq.svg') top left no-repeat;
}

.bk {
  background: asset-url('bk.svg') top left no-repeat;
}

.wp {
  background: asset-url('wp.svg') top left no-repeat;
}

.wr {
  background: asset-url('wr.svg') top left no-repeat;
}

.wn {
  background: asset-url('wn.svg') top left no-repeat;
}

.wb {
  background: asset-url('wb.svg') top left no-repeat;
}

.wq {
  background: asset-url('wq.svg') top left no-repeat;
}

.wk {
  background: asset-url('wk.svg') top left no-repeat;
}